body {
    background: #1a1a1a; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, #1a1a1a, #333333); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #1a1a1a, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(circle, #1a1a1a, #333333); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #1a1a1a, #333333); /* Standard syntax */
}
.login-form {
    width: 300px;
}
.register-form {
    width: 300px;
}
@keyframes blink { 
   50% { border-bottom-color: #ff0000; } 
}
.highlight {
    animation: blink .5s step-end infinite alternate;
}