body {
    background: #1a1a1a; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, #1a1a1a, #333333); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #1a1a1a, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(circle, #1a1a1a, #333333); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #1a1a1a, #333333); /* Standard syntax */
}
.login-form {
    width: 300px;
}
.register-form {
    width: 300px;
}
.highlight {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
.blinking-cursor {
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}